body {
    display: grid;
    justify-content: center;
    background-image: url(cloudReal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;

}

.sectionOne {
    width: 100%;
    background-color: rgba(0, 65, 176, 0.6);
    border-radius: 30px;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.sectionTwo {
    width: 100%;
    background-color: rgba(0, 65, 176, 0.6);
    border-radius: 30px;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
   
}

.cityName {
        font-size: 50px;
}

.temp  {
    font-size: 40px;
}
.weatherDescription {
    font-size: 30px;
}

input {
    border-radius: 20px;
}

button {

    height: 20px;
    width: 20px;
    border-radius: 50px;
}

button img {
    width: 10px;
}
