
body {
    display: grid;
    justify-content: center;
    background-image: url(cloudReal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

}

.firstCard {

    width: 100%;
    background-color: rgba(0, 65, 176, 0.6);
    border-radius: 30px;
    align-items: center;
    text-align: center;
    font-family: a;
    
}
.cityName {
    font-size:50px;  
}

.temp {
    
    font-size:30px;   
}


.secondCard {

    margin-top: 5%;
    width: 100%;
    background-color: rgba(0, 65, 176,0.6);
    border-radius: 30px;
    align-items: center;
    text-align: center;
    padding:10px;
    
}

.search {
    height: 70px;
}

.search button{
    border-radius: 50px;
    width: 27px;
    height: 27px;
}

.search button img{
    width: 10px;
}

input[type=text] {
    height: 30%;
    border-radius: 20px;
}

.weatherChanges {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap
   
}


.H, .W, .W, .FL {
    flex-basis:50%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    
    
}

.H,.FL {
    flex-basis: 50%;
}

.A, .W {
    flex-basis: 50%;
   
}